.green-text {
  color: $primary-green;
}

::placeholder {
  color: $white;
}

h2 {
  color: $medium-gray;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    z-index: -1;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    font-size: 5.5rem;
  }
  @include breakpoint(large) {
    top: 4rem;
    right: 1rem;
    font-size: 8rem;
  }
}

a {
  color: $primary-green;
  &:hover,
  &:focus {
    color: lighten($primary-green, 5);
    font-weight: 600;
  }
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  li {
    padding-left: 1em;
    text-indent: -1em;
    &:before {
      content: ">";
      padding-right: 5px;
      color: $primary-green;
      font-family: $header-font-family;
      font-weight: 600;
      font-size: 1.2rem;
    }
  }
}
