.green-text {
  color: $primary-green;
}

::placeholder {
  color: $white;
}

h2 {
  color: $medium-gray;
  font-size: 3.5rem;
  margin-bottom: 2rem;
  @include breakpoint(medium) {
    z-index: -1;
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    font-size: 5.5rem;
  }
  @include breakpoint(large) {
    top: 4rem;
    right: 1rem;
    font-size: 8rem;
  }
}
