section {
  min-height: 100vh;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include breakpoint(medium) {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
  }
  @include breakpoint(large) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

#front-hero {
  height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  .grid-container,
  .grid-x {
    height: 100%;
  }
  .left-content,
  .right-content {
    @include breakpoint(medium) {
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 45%;
    height: 50%;
    background-color: $primary-green;
    top: -2rem;
    right: 0;
    z-index: -1;
    @include breakpoint(small only) {
      display: none;
    }
  }

  h1 {
    margin-left: 0;
    padding-left: 0;
    text-align: left;
  }
  .greeting {
    font-family: $header-font-family;
    width: 80%;
    font-size: 1.2rem;
  }
  .description {
    font-family: $header-font-family;
    width: 80%;
    font-size: 1.3rem;
  }
  .scroll {
    color: $white;
    .arrow {
      opacity: 0;
      transition: 0.3s ease-out all;
    }
    &:hover {
      color: $white;
      .arrow {
        opacity: 1;
      }
    }
  }
}

#projects {
  @include xy-grid-container();
  h2 {
    top: 0;
  }
  .projects-grid {
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 10vw;
    grid-gap: 0.5rem;
    grid-auto-flow: dense;
    grid-template-areas:
      "P1   P1    P1    P1    P2    P2"
      "P1   P1    P1    P1    P2    P2"
      "P1   P1    P1    P1    P2    P2"
      "P3   P3    P4    P4    P2    P2"
      "P3   P3    P4    P4    P5    P5"
      "P3   P3    P4    P4    P5    P5"
      "P6   P6    P4    P4    P5    P5"
      "P6   P6    P7    P7    P7    P7"
      "P6   P6    P7    P7    P7    P7"
      "P6   P6    P7    P7    P7    P7"
      "P8   P8    P9    P9    P10   P10"
      "P8   P8    P9    P9    P10   P10"
      "P8   P8    P9    P9    P10   P10"
      "P8   P8    P9    P9    P10   P10"
      "P11  P11   P11   P12   P12   P12"
      "P11  P11   P11   P12   P12   P12"
      "P11  P11   P11   P12   P12   P12"
      "P11  P11   P11   P12   P12   P12"
      "P13  P13   P14   P14   P15   P15"
      "P13  P13   P14   P14   P15   P15"
      "P13  P13   P14   P14   P15   P15"
      "P13  P13   P14   P14   P15   P15"
      "P13  P13   P14   P14   P15   P15";
    @include breakpoint(large) {
      grid-gap: 1rem;
      grid-template-areas:
        "P1   P1    P2    P3    P3    P4"
        "P1   P1    P5    P5    P5    P4"
        "P7   P7    P5    P5    P5    P6"
        "P7   P7    P8    P8    P9    P9"
        "P7   P7    P8    P8    P9    P9"
        "P10  P11   P8    P8    P15   P15"
        "P10  P12   P14   P14   P15   P15"
        "P13  P13   P14   P14   P15   P15";
    }

    .project {
      background-color: $white;
      text-align: center;
      &:hover {
        .project__content {
          opacity: 1;
        }
        .project__name {
          opacity: 1;
        }
      }
      &__content {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        background: linear-gradient(
          to bottom,
          rgba($primary-green, 0.1),
          rgba($primary-green, 1)
        );
        transition: 0.3s ease-in-out all;
      }
      &__name {
        color: $medium-gray;
        transition: 0.3s ease-in-out all;
        opacity: 0;
      }
      // Grid Areas
      &-1 {
        grid-area: P1;
      }
      &-2 {
        grid-area: P2;
      }
      &-3 {
        grid-area: P3;
      }
      &-4 {
        grid-area: P4;
      }
      &-5 {
        grid-area: P5;
      }
      &-6 {
        grid-area: P6;
      }
      &-7 {
        grid-area: P7;
      }
      &-8 {
        grid-area: P8;
      }
      &-9 {
        grid-area: P9;
      }
      &-10 {
        grid-area: P10;
      }
      &-11 {
        grid-area: P11;
      }
      &-12 {
        grid-area: P12;
      }
      &-13 {
        grid-area: P13;
      }
      &-14 {
        grid-area: P14;
      }
      &-15 {
        grid-area: P15;
      }
    }
  }
}

#experience {
  @include xy-grid-container();
  @include xy-grid();
  display: flex;
  align-items: flex-start;
  justify-content: center;

  h2 {
    @include breakpoint(medium) {
      top: 2.5rem;
      right: 1rem;
      font-size: 5.5rem;
    }
    @include breakpoint(large) {
      top: 4rem;
      right: 1rem;
      font-size: 8rem;
    }
  }
  .timeline {
    display: grid;
    grid-template-columns: 1fr 2rem 4fr;
    grid-template-rows: repeat(5, min-content);
    grid-row-gap: 2rem;
    grid-template-areas:
      "y2016  Divider   TechCtrl"
      "y2017  Divider   ValleyTech"
      ".      Divider   Cultura"
      "y2018  Divider   IIS"
      "y2019  Divider   Unknown";
    @include breakpoint(large) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1.5rem 3rem repeat(2, max-content);
      grid-column-gap: 2rem;
      grid-row-gap: 1rem;
      grid-template-areas:
        "y2016      y2017       y2018     y2019"
        "Divider    Divider     Divider   Divider"
        "TechCtrl   ValleyTech  IIS       Unknown"
        ".          Cultura     .         .";
    }

    .Year {
      justify-self: end;
      margin-right: 1rem;
      @include breakpoint(large) {
        justify-self: start;
        margin: 0;
      }
    }
    .y2016 {
      grid-area: y2016;
    }
    .y2017 {
      grid-area: y2017;
    }
    .y2018 {
      grid-area: y2018;
    }
    .y2019 {
      grid-area: y2019;
    }
    .Divider {
      grid-area: Divider;
    }
    .TechCtrl {
      grid-area: TechCtrl;
    }
    .ValleyTech {
      grid-area: ValleyTech;
    }
    .Cultura {
      grid-area: Cultura;
    }
    .IIS {
      grid-area: IIS;
    }
    .Unknown {
      grid-area: Unknown;
    }

    &__divider {
      background-color: $white;
      height: 100%;
      width: 2px;
      @include breakpoint(large) {
        height: 2px;
        width: 100%;
        margin: 1.5rem 0;
      }
    }
    &__year {
      color: $primary-green;
      font-size: 1.2rem;
    }
    &__title {
      margin-top: 0;
      display: flex;
      @include breakpoint(large) {
        min-height: 6rem;
        align-items: flex-end;
      }
      h3 {
        text-align: left;
      }
    }
    &__content {
      &__position {
        font-weight: 600;
        color: $primary-green;
      }
      &__list {
        color: $light-gray;
      }
    }
  }
}

.about {
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  grid-row-gap: 2rem;
  grid-template-areas:
    "Heading"
    "Intro"
    "IntroImg"
    "Skills"
    "SkillsImg"
    "Facts"
    "FactsImg";

  @include breakpoint(large) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, minmax(min-content, 500px));
    grid-row-gap: 0;
    grid-template-areas:
      "Intro      IntroImg"
      "SkillsImg  Skills"
      "Facts      FactsImg";
  }
  .Heading {
    grid-area: Heading;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
  .Intro {
    grid-area: Intro;
  }
  .IntroImg {
    grid-area: IntroImg;
    background-image: url("https://picsum.photos/1000/?random");
    background-size: cover;
    background-position: center;
  }
  .Skills {
    grid-area: Skills;
  }
  .SkillsImg {
    grid-area: SkillsImg;
    background-image: url("https://picsum.photos/1000/?random");
    background-size: cover;
    background-position: center;
  }
  .Facts {
    grid-area: Facts;
  }
  .FactsImg {
    grid-area: FactsImg;
    background-image: url("https://picsum.photos/1000/?random");
    background-size: cover;
    background-position: center;
  }

  h2 {
    width: 100%;
    text-align: center;
    @include breakpoint(small only) {
      position: relative;
      margin-bottom: 0;
    }
    @include breakpoint(large) {
      width: auto;
      text-align: left;
      left: 2rem;
      top: 0;
    }
    @include breakpoint(xxlarge) {
      top: 4rem;
      font-size: 7rem;
    }
  }
  &__image {
    width: 100%;
    overflow: hidden;
    min-height: 350px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    @include breakpoint(large) {
      align-items: flex-start;
      justify-content: center;
    }
    &.Skills {
      align-items: center;
      padding: 2rem;
      @include breakpoint(large) {
        padding: 3rem;
      }
      .Skills__bars {
        min-width: 350px;
        @include breakpoint(medium) {
          min-width: 550px;
        }
        @include breakpoint(large) {
          min-width: 400px;
        }
        @include breakpoint(xlarge) {
          min-width: 550px;
        }
        .skill {
          width: 100%;
          margin: 1.5rem auto;
          &__data {
            display: flex;
            justify-content: space-between;
            &__name {
              font-family: $header-font-family;
            }
          }
          .progress {
            height: 2rem;
            border-radius: 0;
            width: 100%;
            border: 1px solid $white;
            background: transparent;
            position: relative;
            &-meter {
              position: absolute;
              top: -1px;
              left: -1px;
              height: calc(100% + 2px);
              z-index: 10;
              background-color: $primary-green;
            }
          }
        }
      }
    }
  }
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  @include breakpoint(large) {
    padding-top: 12rem;
  }
  h2 {
    @include breakpoint(medium) {
      top: 0;
    }
    @include breakpoint(large) {
      right: 5rem;
    }
  }
  .contact-form-container {
    padding: 1.5rem;
    border: 2px solid $white;
    .wpforms-container.wpforms-container-full {
      padding: 0;
      margin: 0;
      .wpforms-field > input,
      .wpforms-field > textarea {
        background-color: transparent;
        color: $primary-green;
      }
      .wpforms-submit-container {
        display: flex;
        justify-content: flex-end;
        .wpforms-submit {
          background-color: transparent;
          color: $white;
          padding: 0.5rem 3rem;
          transition: 0.2s ease-out all;
          &:hover {
            background-color: $white;
            color: $dark-gray;
          }
        }
      }
      .wpforms-field input.wpforms-error {
        border: 1px solid $error-red;
      }
      label.wpforms-error {
        color: $error-red;
        font-weight: bold;
      }
    }
    #wpforms-confirmation-8,
    .wpforms-confirmation-container-full {
      color: $primary-green;
      background-color: transparent;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    @include breakpoint(large) {
      padding-left: 2rem;
    }
    h3 {
      @include breakpoint(large) {
        margin-top: 2rem;
        margin-bottom: 1rem;
      }
    }
    .links-container {
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        .button-link {
          margin: 0 1rem;
          background-color: transparent;
          border-radius: 50%;
          border: 2px solid $white;
          width: 3rem;
          height: 3rem;
          transition: 0.2s ease-in all;
          &::before {
            display: none;
          }
          &:first-child {
            margin-left: 0;
          }
          a {
            color: $primary-green;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            transition: 0.2s ease-in all;
          }
          &:hover {
            background-color: $white;
            a {
              color: $dark-gray;
            }
          }
        }
      }
    }
  }
}
