section {
  min-height: 100vh;
  border-bottom: 1px solid $white;
}

#front-hero {
  height: 100vh;
  @include xy-grid-container();
  @include xy-grid();
  .left-content,
  .right-content {
    @include xy-cell(6);
  }
}

#projects {
  @include xy-grid-container();
  @include xy-grid();
}

#experience {
  @include xy-grid-container();
  @include xy-grid();
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
  position: relative;

  h2 {
    color: $medium-gray;
    z-index: -1;
    position: absolute;
    top: 4rem;
    right: 1rem;
    font-size: 8rem;
  }
  .timeline {
    &__divider {
      background-color: $white;
      height: 2px;
      width: 100%;
      margin: 1.5rem 0;
    }
    &__year {
      color: $primary-green;
      font-size: 1.2rem;
    }
    &__title {
      margin-top: 0;
      min-height: 6rem;
      display: flex;
      align-items: flex-end;

      h3 {
        text-align: left;
      }
    }
    &__content {
      &__position {
        font-weight: 600;
        color: $primary-green;
      }
      &__list {
        // display: none;
        color: $light-gray;
      }
    }
  }
}
