.footer-container {
  margin-top: rem-calc(60);
  background-color: $black;
}

.footer-grid {
  @include xy-grid-container;
  padding: rem-calc(20) 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @include breakpoint(medium) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  p {
    font-size: 1.2rem;
    @include breakpoint(medium) {
      margin: 0;
    }
  }
  i {
    color: $error-red;
  }
}
