// Navigation breakpoints
.mobile-menu,
.site-title-bar {
  @include hide-for(medium);
}

.desktop-menu,
.site-navigation .top-bar-left {
  @include show-for(medium);
}

// Site title
.site-desktop-title a {
  font-weight: bold;
}

// Mobile menu
.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.off-canvas {
  > ul.menu {
    height: 100vh;
    padding: 1rem;

    a {
      color: $white;
      font-weight: 600;
      font-size: rem-calc(15);
    }
  }

  .menu .active > a {
    border-bottom: 2px solid $primary-green;
  }
}
.title-bar {
  background-color: rgba($color: $dark-gray, $alpha: 0.5);
  &-left {
    .menu-icon {
      &:hover::after {
        background: $primary-green;
        box-shadow: 0 7px 0 $primary-green, 0 14px 0 $primary-green;
      }
    }
  }
}

.title-bar-title {
  a {
    font-size: 1rem;
    color: #b9b9b9;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  .menu .is-active > a {
    border-bottom: 2px solid $primary-green;
  }
}

// Tablet and desktop menu

.top-bar {
  background-color: rgba($color: $dark-gray, $alpha: 0.5);

  .top-bar-title a {
    font-size: 1rem;
    color: #b9b9b9;
    padding-left: 1rem;
    line-height: 1.8;
  }

  .menu a {
    color: #e6e6e6;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1;
    background-color: transparent;
    border-bottom: 2px solid transparent;

    &:hover:not(.button) {
      border-bottom: 2px solid $primary-green;
    }
  }

  .menu .menu-item {
    background-color: transparent;
  }

  .menu > li:not(.menu-text) > a {
    padding: 1rem;
  }
  .menu .is-active > a {
    border-bottom: 2px solid $primary-green;
  }
}

.dropdown.menu > li > a,
.top-bar ul {
  background-color: transparent;
}

.site-navigation {
  @include breakpoint(small only) {
    padding: 0; // prevents container visibility on small screens
  }
}

// WP post navigation
.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
}
